@media only screen and (min-width: 760px) {
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: end;
    }

    .nav-links li {
        display: block;
        margin: 0 20px;
    }

    main {
        max-width: 1500px;
    }

    .about {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .function {
        flex-wrap: wrap;
        height: auto;
    }

    .function h2 {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .function ul {
        width: 100%;
    }

    .programs {
        flex-direction: row;
        justify-content: center;
    }

    .contact {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0;
    }

    .map iframe {
        margin: 90px 50px 40px 0;
    }

    .intro img {
        width: 100%;
    }

    .intro {
        position: relative;
    }

    #welcome-message {
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        font-size: 25px;
    }

    #motto {
        position: absolute;
        top: 175px;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
        font-size: 20px;
    }

    .our-mandate {
        grid-template-columns: 200px 1fr;
        width: 80%;
    }

    .our-mandate h2 {
        grid-column: 1/2;
        text-align: left;
        margin: auto 40px;
        width: 150px;
    }

    .our-mandate p {
        grid-column: 2/3;
        margin-left: 40px;
        padding: 20px 50px 20px 0;
    }

    .raw-data,
    .metrics {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    table {
        width: 30%;
        margin: 20px auto;
    }
}