:root {
    --primary-color: #120A8F;
    --secondary-color: #BA160C;
    --background-color1: #fcfce0;
    --background-color2: #F5F5F5;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

main {
    margin: 0 auto;
    width: 1000px;
    background-color: var(--background-color2);
}

header {
    background-color: #fbfbed;
    box-shadow: 5px 5px 10px grey;
    place-content: center;
}

#allowance {
    background-color: var(--primary-color);
    height: 5px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    margin: 15px;
}

h2 {
    font-family: var(--heading-font);
    font-size: 19px;
    color: var(--primary-color);
    background-color: #F5F5F5;
    margin: 30px auto 6px 30px;
}

#site-name-head {
    padding-top: 30px;
    margin-top: 10px;
}

#domain-name {
    margin: 15px auto 5px 40px;
}

#name {
    margin-bottom: 5px;
}

#logo img {
    width: 150px;
    margin-top: 12px;
}

figcaption {
    font-weight: bold;
}

#logo figcaption {
    margin-left: 50px;
}

#mobile-view figcaption {
    margin-left: 25px;
}

#desktop-view figcaption {
    margin-left: 32px;
    margin-top: 50px;
}

#site-purpose {
    margin-top: 22px;
}

ul {
    margin-top: 6px;
    margin-left: 21px;
}

p {
    margin: 0 0 0 40px;
    width: 900px;
}

p,
li {
    font-family: var(--body-font);
}

#desktop-view img {
    width: 870px;
}

.wireframe {
    place-items: center;
}

footer {
    background-color: #000;
    padding: 20px 0;
    height: auto;
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
    place-items: center;
}

footer p {
    font-family: var(--body-font);
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #fff;
}


