:root {
    --primary-color: #120A8F;
    /* Ultramarine */
    --secondary-color: #BA160C;
    /* Engineering Orange */
    --accent1-color: #fbfbed;
    /* Pale Yellow */
    --accent2-color: #FBEEAC;
    /* Pale Tan */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: grid;
    grid-template: auto 1fr / 1fr auto;
}

header {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    height: 90px;
    box-shadow: 0 0 30px gray;
    padding: 20px 0 0 0;
}

#course-title {
    font-family: var(--heading-font);
    color: #fff;
    text-align: center;
    margin: 0 0 0 370px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    font-family: var(--heading-font);
    margin: 25px 0 0 0;
    background-color: rgb(242, 237, 224);
}

header nav a {
    display: block;
    width: 120px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: var(--primary-color);
}

header nav a:hover {
    color: var(--secondary-color);
    font-weight: 1000;
    text-decoration: underline;
}

h1 {
    grid-column: 1/3;
    color: rgb(91, 70, 19);
    text-align: center;
    grid-row: 1/2;
    margin: 30px 0 0 20px;
}

.cards-container {
    width: 600px;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 25px 0 20px 0;
    box-shadow: 1px 1px 5px gray;
    height: 470px;
    border-radius: 10px 10px 0 0;
}

.card {
    background-color: var(--accent1-color);
}

.about-me {
    height: 230px;
}

.about-me h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    margin: 0 0 10px;
    border-radius: 10px 10px 0 0;
    height: 40px;
    padding: 5px;
    opacity: 0.8;
}

.about-me img {
    float: right;
    border-radius: 10px;
    margin: 5px 12px 10px 10px;
    width: 140px;
}

.about-me p {
    text-align: justify;
    width: 440px;
    padding: 12px;
}

.location h2 {
    width: 300px;
    text-align: center;
    margin: 30px 0 0 70px;
    border-bottom: 1px solid black;
}

.location p {
    text-align: justify;
    width: 270px;
    margin: 15px 0 0 150px;
}

.location img {
    margin: 5px 0 10px 10px;
    width: 120px;
}

.location figure {
    margin: 16px 0 0 5px;
    width: 130px;
    float: left;
}

.location figcaption {
    margin: 0 0 0 10px;
    text-align: center;
}

aside {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 380px;
    box-shadow: 1px 0 5px gray;
    margin: 25px 0 10px 0;
    height: 470px;
    border-radius: 10px 10px 0 0;
}

aside h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: #fff;
    margin: 0 0 10px;
    border-radius: 10px 10px 0 0;
    height: 40px;
    padding: 5px;
    opacity: 0.8;
}

aside ul {
    margin: 90px 20px 20px 20px;
}

aside ul li {
    margin: 10px 0 10px 20px;
    font-family: var(--body-font);
    font-size: 18px;
}

footer {
    background-color: #e5e5d9;
    text-align: center;
    padding: 20px 0;
    height: 100px;
}

footer p {
    font-family: var(--body-font);
    margin: 5px 0 0 0;
}