@media only screen and (min-width: 640px) {
    span {
        font-size: 15px;
    }

    .nav-links {
        display: flex;
    }

    .nav-links li {
        display: block;
        flex: 1 1 100%;
    }

    .nav-links a {
        text-align: center;
    }

    .nav-links:hover {
        color: var(--secondary-color);
        font-weight: 1000;
    }

    #nav-menu {
        display: none;
    }

}