:root {
    --background-color1: #120A8F;
    --background-color2: #BA160C;

    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
footer {
    max-width: 700px;
    margin: 0 auto;
}


h1 {
    background-image: linear-gradient(#008080, #004747);
    color: #fff;
    text-align: center;
    height: 60px;
    place-content: center;
    margin: 0;
}



main {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 
label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    font-size: 24px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    color: gold;
}

#features {
    margin-bottom: 20px;
} */
/* 
#features input[type="checkbox"] {
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
} */



html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.web-form label {
    padding-top: 1rem;
    font-size: 1rem;
    /* font-weight: bold; */
    width: 100%;
}

#features {
    border: 1px solid black;
}

#product-label,
#rating-label,
#features-label,
#installation-date-label,
#written-review-label,
#username-label {
    font-size: 1.2rem;
    font-weight: bold;
    
}

#features input {
    margin-top: 14px;
    margin-right: 5px;
}

/* .web-form div {
    padding-top: 1rem;
} */

.web-form input[type="text"],
.web-form input[type="date"],
.web-form select,
.web-form input[type="number"] {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 450px;
    appearance: none;
}

.web-form input[type="radio"],
.web-form input[type="checkbox"] {
    margin-right: 6px;
}

.web-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#012b72, #012b72);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem auto 2rem auto;
    box-shadow: 1px 1px 4px #999;
    display: block;
    font-size: 1.2rem;
}

.web-form input:required {
    border-right: solid 8px red;
}

.web-form input:required:valid {
    border-right: solid 8px green;
}

#durability,
#ease-use,
#performance,
#design {
    display: flex;
    padding: 0;
}