html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color1: #120A8F;
    --background-color2: #BA160C;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

footer {
    max-width: 1300px;
    margin: 0 auto;
}

h2 {
    background-image: linear-gradient(#008080, #004747);
    color: #fff;
    text-align: center;
    height: 60px;
    place-content: center;
    margin: 0;
    font-family: var(--heading-font);
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features {
    margin-bottom: 20px;
}

.features input {
    margin-top: 18px;
    margin-right: 5px;
}

.features label {
    font-family: var(--body-font);
}

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.web-form label {
    padding-top: 1rem;
    font-size: 1rem;
    width: 100%;
    font-family: var(--body-font);
}

.products-class,
.rating,
.install-date,
.features,
.written,
.user {
    margin-top: 20px;
}

.products-class select,
.install-date input,
.user input {
    margin-top: 6px;
}

.products-class label,
#rating-label,
#features-label,
.install-date label,
.written label,
.user label {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--body-font);
}

.optional {
    font-size: 14px;
    font-weight: lighter;
}

#rating-label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.rating label {
    font-size: 1.2rem;
    font-family: var(--body-font);
    margin-top: 0;
    padding-top: 0;
}

.rating {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 0;
    margin-bottom: 0;
}

.rating-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 0;
}

.written label {
    display: block;
    padding-top: 8px;
}

/* .web-form div {
    padding-top: 1rem;
} */

.web-form input[type="text"],
.web-form input[type="date"],
.web-form select,
.web-form input[type="number"] {
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    font-family: var(--body-font);
}

.web-form input[type="radio"],
.web-form input[type="checkbox"] {
    margin-right: 6px;
    width: 17px;
    height: 17px;
}

.web-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#012b72, #012b72);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 60%;
    max-width: 400px;
    margin: 1.5rem auto 2rem auto;
    box-shadow: 1px 1px 4px #999;
    display: block;
    font-size: 1.2rem;
}

.web-form input:required {
    border-right: solid 8px red;
}

.web-form input:required:valid {
    border-right: solid 8px green;
}

#durability-id,
#ease-use-id,
#performance-id,
#design-id {
    display: flex;
    padding: 0;
}

textarea {
    width: 400px;
    height: 100px;
    margin-top: 6px;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    height: auto;
    border-top: 1px solid var(--background-color-2);
}

footer p {
    font-family: var(--body-font);
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #fff;
}