:root {
    --primary-color: #120A8F;
    --background-color1: #BA160C;
    --background-color2: #eaf3ed;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Lato", sans-serif;
}

header {
    background-image: linear-gradient(#008080, #004747);
    height: 60px;
    margin-bottom: 16px;
    font-family: var(--heading-font);
}

h1 {
    color: #fff;
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}

main {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color2);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating-class,
.install-date-class,
.features-class,
.written-class {
    margin-top: 20px;
}

.user-class {
    margin-top: 18px;
}

.products-class label,
.install-date-class label,
.features-class p,
.written-class label,
.user-class label {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--body-font);
    color: var(--primary-color);
}

#rating-label {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--body-font);
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 5px;
}

.rating-class label {
    font-size: 1.2rem;
    font-family: var(--body-font);
}

.rating-class input {
    margin-left: 0;
}

.rating-class .unit-1 input {
    margin-left: 4px;
}

.rating-class .unit-2 input {
    margin-left: 3px;
}

.rating-class .unit-3 input {
    margin-left: 3px;
}

.rating-class .unit-4 input {
    margin-left: 5px;
}

.rating-class .unit-5 input {
    margin-left: 5px;
}

.rating-class {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 0;
}

.rating-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-top: 0;
}

.features-class input {
    margin-top: 7px;
    margin-right: 5px;
}

.features-class label {
    margin-top: 6px;
}

.features-class p {
    margin-bottom: 0;
    margin-top: 23px;
}

#durability-id,
#ease-use-id,
#performance-id,
#design-id {
    display: flex;
    padding: 0;
    height: 25px;
}

.products-class select,
.install-date-class input,
.user-class input {
    margin-top: 6px;
}

.optional {
    font-size: 17px;
    font-weight: lighter;
    color: #000;
}

.astericks {
    color: #000;
}

.written-class label {
    display: block;
}

.web-form input[type="text"],
.web-form input[type="date"],
.web-form select {
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    font-family: var(--body-font);
}

.web-form input[type="radio"],
.web-form input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.web-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#012b72, #012b72);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: 1.5rem auto .2rem auto;
    box-shadow: 1px 1px 4px #999;
    display: block;
    font-size: 1.2rem;
}

.web-form input:required {
    border-right: solid 8px var(--background-color1);
}

.web-form select:required {
    border-right: solid 8px var(--background-color1);
}

.web-form input:required:valid {
    border-right: solid 8px green;
}

.web-form select:required:valid {
    border-right: solid 8px green;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    margin-top: 6px;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    font-family: var(--body-font);
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    height: auto;
    margin-top: 14px;
}

footer p {
    font-family: var(--body-font);
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #fff;
}